<% provide(:title, 'Search') %>
<div class="jumbotron jumbotron-fluid">
  <h2 class="text-center my-5 ">Course Search</h2>
  <h3 class="text-center my-5">Please enter a subject or a course name for search</h3>
</div>

<%= form_tag(search_path, method: :post) do %>
  <div class="search-form">
    <div class="form-group col-sm-4 search-area">
      <%= label_tag(:subject_search,  'Subject:') %>
      <%= collection_select(:subject, :subject_id, Subject.all,:id, :name, {prompt: 'Select Subject'}, {class: 'form-control', onchange: '$("form").submit()'}) %>
    </div>

    <div class="form-group col-md-4 row search-area">
      <div class="col-sm-8">
        <%= label_tag(:course_name_search, 'Name:') %>
        <%= text_field_tag(:course_name, params[:search], placeholder: 'Enter Course Name', autofocus:true, class: 'form-control')%>
      </div>
      
      <div class="col-sm-3">
      <br>
      <%= button_tag type: :submit, class: "btn btn-success" do %>
        <%= 'search' %>
      <% end %>
      </div>
  </div>
    
  </div>
  <div >
    <%= render 'page/showcourse'%>
  </div>
<% end %>


